<!DOCTYPE html>
{# inspired by: https://dev.to/rogeliosamuel621/svelte-with-webpack-5-and-babel-1b03 #}
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Calibri">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <script>
        document.QUERY_PARAMETERS = {{ encodedParameters|raw }};
    </script>
</head>
{% block header %}
<header>
    <h1>My Example Application</h1>
</header>
{% endblock %}
<body>
<div class="content">
{% block application %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}
    <pre>
    {{ encodedParameters }}
    </pre>
{% endblock %}
</div>
</body>
{% block footer %}
<footer>
    Powered by <a href="https://iovano.de">iovano</a>, PHP 8/Symfony 5 & Svelte 3
</footer>
{% endblock %}
</html>